.tab-container {
  height: 200px;
  width: 500px;
  border: 1px solid black;
  padding: 5px;
}

button {
  border-bottom-left-radius: 0;
  border-color: black;
  margin-right: 2px;
  border-width: 1px;
  border-bottom-width: 0px;
  padding: 5px 10px;
  background-color: rgb(97, 122, 160);
  color: white;
}
